header h1 {
    padding-top: .6em;!important
}

section p {
    text-align: center;
}

img {
    margin: 1.5em;
    border-radius: 2em;
    width: 45%;
}

.lt img{
    float: right;
}

